<.header>
  New SimpleResource
  <:subtitle>Use this form to manage simple_resource records in your database.</:subtitle>
</.header>

<.simple_resource_form form={@form} action={~p"/simpleresources/"} />

<.back navigate={~p"/simpleresources"}>Back to simpleresources</.back>
